@import "tailwindcss";

:root {
  --color-primary: #8dc53e;
  --color-secondary: #fefdce;
  --color-background: #060002;
}

.cs-bg-background {
  background-color: var(--color-background);
}

.cs-bg-primary {
  background-color: var(--color-primary);
}

.cs-color-secondary {
  color: #fefdce;
}

.cs-color-primary {
  color: #8dc53e;
}
